:root {
  --color-blue: #0072db;
  --color-yellow: #ff9900;
  --color-white: #ffffff;
}

body {
  margin: 0;
}

.header {
  padding-top: 30px;
  padding-bottom: 27px;
}

.header__title {
  color: #3e45e8;
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  text-align: center;
}

.header__title span {
  color: #e8c23e;
}

.main__banner {
  background-image: url(../images/flag.png), url(../images/bg.png);
  padding-top: 224px;
  padding-bottom: 238px;
  padding-left: 170px;
  background-repeat: no-repeat;
  background-position: top 235px left 80px, center;
  background-size: 23px 290px, cover;
}

.main__text {
  color: var(--color-white);
  font-weight: 700;
  font-size: 48px;
  line-height: 157.3%;
  margin: 0;
}

.cards__title {
  margin-top: 46px;
  margin-bottom: 5px;
  margin-left: 80px;
  font-weight: 700;
  font-size: 40px;
}

.flag__gradient {
  width: 779px;
  height: 12px;
  background-image: linear-gradient(
    to right,
    #12e5fe 5%,
    #0030ff 50%,
    #ffb60a 50%,
    #ffffff
  );
  margin-bottom: 42px;
}

.cards {
  min-width: 992px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.card {
  display: inline-block;
  width: 30%;
  border: 5px solid #0d095f;
  min-height: 481px;
  vertical-align: top;
  border-radius: 34px;
}

.card:first-child {
  box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
}

.card:nth-child(2) {
  box-shadow: 0 21px 40px rgba(0, 209, 255, 0.35);
}

.card:nth-child(3) {
  box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);
}

.card__margin {
  margin: 0 2.5%;
}

.card__img {
  margin-bottom: 16px;
}

.card__img > img {
  width: 100%;
}

.card__title {
  color: var(--color-blue);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 13px;
  margin-left: 10px;
}

.card__description {
  color: var(--color-yellow);
  font-size: 20px;
  margin-left: 10px;
}

.text {
  border-bottom: 7px solid #1400ff;
  max-width: 592px;
  font-size: 40px;
  padding-bottom: 19px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

.mapa__img {
  text-align: center;
  margin-bottom: 23px;
}

.link {
  text-align: center;
  margin-bottom: 33px;
}

.link a {
  background-color: #2a61f0;
  color: #ffffff;
  font-weight: 700;
  font-size: 64px;
  text-decoration: none;
  padding: 10px 208px;
  border-radius: 50px;
}

.footer {
  background-image: linear-gradient(to bottom, #040a24, #090d54);
  text-align: center;
}

.footer > p {
  color: #3e45e8;
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  margin-bottom: 6px;
}

.footer span {
  color: #e8c23e;
}

.footer > a {
  display: block;
  margin-bottom: 7px;
  color: #a89d9d;
  font-size: 36px;
  text-decoration: none;
}

.socials {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.socials li {
  display: inline;
}

.socials li:not(:last-child) {
  margin-right: 14px;
}
